<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="CONSOLE_LOG_PATTERN"
              value="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%thread] %logger{36} - %msg%n"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <logger name="com.xinmengqaq.springboot" level="INFO"/>
    <logger name="com.xinmengqaq.springboot.mapper" level="DEBUG"/>


    <logger name="org.springframework.transaction" level="DEBUG"/>

    <logger name="org.springframework.jdbc.datasource.DataSourceTransactionManager" level="DEBUG"/>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>